.mainDiv{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    height: 70vh;
    /* background-color:antiquewhite; */
  }
  .searchDiv{
    width: 50%;
  }
  .createFlight{
    width: 100%;
  }
  .fieldset-like {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
  }